<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title><%=title%></title>
  </head>
  <body>
    
    <style>
      .td {
      width: 10%;
      }
    </style>

    <div class="container">
      <div class="row ">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
          <% for(const entry of items) { %>
          <div class="card">
            <h5 class="card-header"><%=entry.systemId%>:<%=entry.title%><div class="float-right"><%=entry.date%></div></h5>
            <div class="card-body">
              <p class="card-text"><%-entry.note%></p>
              <small class="float-left">Ref:<%=entry.ref%></small>
              <small class="float-right"><%=entry.sign%></small>
            </div>
          </div>
          <%};%>
        </div>
        <div class="col d-none d-xl-block">
        </div>
      </div>
    </div>
  </body>
</html>
